<div class="container">
  <form
    class="form"
    *ngIf="formSchemaWithControls"
    (ngSubmit)="submit()"
    [formGroup]="formGroup"
  >
    <div class="form-item" *ngFor="let element of formSchemaWithControls">
      <input
        [type]="element.item.type"
        [placeholder]="element.item.name"
        [formControl]="element.control"
      />
      <div
        class="form-error"
        *ngIf="
          element.control.errors &&
          (element.control.dirty || element.control.touched)
        "
      >
        <p *ngFor="let error of element.control.errors | keyvalue">
          {{ element.item.name + " " + error.key }}
        </p>
      </div>
    </div>

    <button [disabled]="formGroup.invalid" type="submit">Submit</button>
  </form>
</div>
